## Variable copying

Do the following operations
- Assign var_a to var_a2
- Change the value of var_a2 to 7
- Check the valu eof var_a and var_a2

# Week 02 Class: Exercises

## Variables

### Create variables

Let's start with a very simple exercise of creating new variables



1.   Variable called var_a with value of 3
2.   Variable called var_b with value of 100
3.   String variable str_var_a with value of "GV918"
4.   String variable str_var_a with value of "Data for Social Data Science"

In [1]:
var_a = 3
var_b = 100

aaa = 2

### Variable operations



*   Add var_a and var_b
*   Subtract var_a from var_b
*   Multiply var_a and var_b
*   Divide var_b by var_a

## Lists

### Create lists

1. Create a list, list_a, with values of 1, 3, 4, 5, 9, 2, 4.5
2. Create a list, list_b, with words from "this is a simple string list" 
  - You can type all or use .split method

In [ ]:
a = [1, 3, 4, 5, 9, 2, 4.5]

In [ ]:
a

[1, 3, 4, 5, 9, 2, 4.5]

In [ ]:
b = ['this', 'is', 'a', 'simple', 'string', 'list']

In [ ]:
b

['this', 'is', 'a', 'simple', 'string', 'list']

### Slicing lists

- From the first list extract elements of
    -   1, 3, 4
    -   9, 2, 4.5
    -   4, 5, 9

## Manipulating lists

- Append an element (e.g. 100) to list_a
- Replace the second element of list_a to 12

In [ ]:
a

[1, 3, 4, 5, 9, 2, 4.5]

[4, 5, 2]

### Concatenate lists

- Concatenate list_a and list_b
- Use `+`

### Copying lists

Do the following operations
- Assign `lsit_a` to `list_a2`
- Change the value of `list_a2[0]` to 7
- Check the value of `list_a` and `list_a2`

What do you find?

In [ ]:
b = a

In [ ]:
b

[1, 3, 4, 5, 9, 2, 4.5]

In [ ]:
b[-1] = 7

In [ ]:
a

[1, 3, 4, 5, 9, 2, 7]

## (Optional) String operation

### Concatenation

Let's do some string operation

In [ ]:
str_1 = "Hello"
str_2 = "world"
str_3 = "!"

How to concateneate them to craete "Hello world?"
[https://www.w3schools.com/python/python_strings.asp](https://www.w3schools.com/python/python_strings.asp)

### Formatting

Read the section of **String Format** and try to generate "Today is 13-10-2020"

In [ ]:
year = 2020
month = 10
date = 13
fill_str = "Today is ..." ## this part has to be changed